/** @format */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f8ff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.input-column {
  border: 2px solid black;
  padding: 1.2vh 1vh;
  border-radius: 1vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3.5vh;
  flex-wrap: wrap;
}
.input-lable {
  color: rgba(0, 0, 0, 0.9);
  font-size: 1.7vh;
  /* width: 50%; */
  text-align: left;
}
.inner-txt-form {
  flex: 1;
  display: flex;
  justify-content: right;
  align-items: center;
  flex-wrap: wrap;
}

.alert {
  height: 25px;
  width: 125px;
  padding-inline: 2px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .input-lable {
    width: 100%;
    text-align: center;
    margin-bottom: 1.2vh !important;
  }
  form {
    margin: 0 auto;
  }
  .text-btn-status {
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
  }
  .inner-txt-form {
    justify-content: space-between;
  }
}
.img-form {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 0;
  border-block: 1px solid black;
}
